@font-face {
  font-family: 'harbourbold';
  src: url('./fonts/harbour-bold-webfont.woff2') format('woff2'),
       url('./fonts/harbour-bold-webfont.woff') format('woff'),
       url('./fonts/harbour-bold-webfont.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;

}

html, body, div, h1, h2, span {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

html {
  height: 98%;
  background-image: url('./icons/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body, #root {
  margin: 0;
  height: 100%;
}

.app-wrapper {
  max-width: 1000px;
  min-height: 100%;
  padding-bottom: 20px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
  margin: auto;
}

.flex-container {
  margin: 0 auto;
  width: 95%;
  display: flex;
  flex-wrap: wrap;
}

.champion-wrapper {
  position: relative;
  margin: 8px;
  height: 50px;
  cursor: pointer;
}

.level1 {
  border: 2px solid rgb(124, 124, 124);
}

.level1:hover {
  box-shadow: 0 0 3px 3px rgba(124, 124, 124, 0.5);
}

.level2 {
  border: 2px solid rgb(0, 198, 0);
}

.level2:hover {
  box-shadow: 0 0 3px 3px rgba(0, 198, 0, 0.5);
}

.level3 {
  border: 2px solid rgb(0, 0, 210);
}

.level3:hover {
  box-shadow: 0 0 3px 3px rgba(0, 0, 210, 0.5);
}

.level4 {
  border: 2px solid rgb(180, 0, 180);
}

.level4:hover {
  box-shadow: 0 0 3px 3px rgba(180, 0, 180, 0.5);
}

.level5 {
  border: 2px solid rgb(255, 215, 0);
}

.level5:hover {
  box-shadow: 0 0 3px 3px rgba(255, 215, 0, 0.5);
}

.buff-icon-wrapper {
  height: 50px;
  width: 50px;
  margin: 8px;
  text-align: center;
  line-height: 50px;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  overflow: hidden;
  border: 2px solid gold;
}

.buff-overlay {
  background: rgba(0,0,0,0.3);
}

.header-wrapper {
  margin-top: 10px;
  background: url('./icons/logo.png') no-repeat;
  background-position: 20px 10px;
  background-size: auto 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
}

.logo-wrapper {
  cursor: pointer;
  height: 100%;
  flex: 0 1 auto;
  width: 200px;
}

.heading-wrapper {
  flex: auto;
}

.heading {
  margin: 0px;
  font-family: 'harbourbold';
  font-size: 2.6rem;
  color: #9F6C33;
  line-height: 100px;
  text-align: center;
  letter-spacing: 2px;  
}

.component-wrapper {
  margin: 20px 0 0;
}

.component-heading {
  margin-bottom: 10px;
  padding-left: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: rgb(20, 20, 20);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(0,0,0,0.6));
  border-top: 2px solid white;
  border-bottom: 2px solid black;
  letter-spacing: 2px;  
}

.active-count {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  font-weight: bold;
}

.mini-buff-container {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 40px;
  top: 30px;
  left: -4px;
}

.mini-buff {
  height: 25px;
  width: 25px;
  margin: 0 1px;
  border-radius: 50%;
}

.height-fix {
  height: 107px;
}

